*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monsterrat';
    color: #ffffff;
}

html,body{
    width: 100%;
    height: 100%;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
  }
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e33;
    border-radius: 50%;
    filter: blur(75px);
    position: fixed;
    z-index: 9;
   
}
#nav{
    height:145px;
    width: 100%;
       display:flex;
    gap: 50px;
    justify-content: flex-start;
    padding: 0 100px;
    align-items: center;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
#img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }
  #l1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;

  }
  #main{
    position: relative;
    background-color: rgba(0,0,0,0.37);
  }

  #page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
  } 
  #page1 h1{
    font-size: 100px;
    font-weight: 900;
    position: relative;
  }
  #page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 1.5px #95c11e;
    z-index: -1;
  }
  #page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
  }
  #page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
  }
  #scroller{
    white-space:nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    z-index: 10;
  }
  #scroller::-webkit-scrollbar {
    display: none;
  }
  #scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  #scroller h4 {
    display: inline-block;
    font-size: 80px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 20px;
    transition: all linear 0.3s;
    color: #000;
    -webkit-text-stroke: 2px #ffffff;
  }
  #scroller h4:hover {
    color: #95c11e;
    -webkit-text-stroke: 2px #95c11e;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  #about-us {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-between;
  }
  #about-us img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
  }
  #about-us-in {
    width: 50%;
    text-align: center;
  }
  #about-us-in h3 {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  #about-us-in p {
    font-size: 20px;
    line-height: 26px;
  }

  #cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  .card {
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
  }
  #card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  #card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  #card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding: 30px;
    padding-top: 30px;
    opacity: 0;
    transition: all ease 0.6s;
  }
  .overlay h4 {
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 800;
  }
  .overlay p {
    color: #000;
    font-size: 18px;
  }
  .card:hover .overlay {
    opacity: 1;
  }
  .card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
  }
#green-div {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  background: linear-gradient(to left bottom, #119f3a, #ace022);
}
#green-div h4 {
  width: 45%;
  line-height: 50px;
  color: #000;
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}
#page3{
  height: 100vh;
  width: 100%;
  background-color: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}
#page3 > p{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 60%;
  line-height: 40px;
}
#page3 img {
  position: absolute;
  height: 60px;
}
#page3 #colon1 {
  left: 15%;
  top: 25%;
}
#page3 #colon2 {
  bottom: 30%;
  right: 15%;
}

#page4{
  height: 30vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap:70px;
  position: relative;
}
.elem{
  height: 70%;
  width:26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem h2{
  height: 100%;
  width: 100%;
  font-weight: 800;
  color: #000;
  background-color: #95c11e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index:10;
  transition: all ease 0.5s;
  font-size: 2vw;
  
}

.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 5vw;
  position: absolute;
  top: -30%;
  font-weight: 900;
  font-family: gilroy;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}

#footer{
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  justify-content: flex-start;
align-items: center;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer>img{
  position: absolute;
  left:0;
  height:100%;
}

#f1 img{
  height:100px
}
#f1,#f2,#f3,#f4{
  width:fit-content;
  position: relative;
  z-index: 99;
}

#f2 h3,#f3 h3,#f4 h4 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  line-height: 20px;
  margin-bottom: 8px;
}